.payment_box {
    padding: 1rem;
    background: #eee;
    color: var(--global--color-dark-gray);
}
.ezysplits-pay-later-widget {
    display: block!important;
    position: relative!important;
    background: #fff!important;
}
.ezysplits-pay-later-widget-header {
    position: relative;
    display: flex!important;
    align-items: center!important;
    padding-top: 8px!important;
}
.ezysplits-pay-later-column-title {
    text-align: center!important;
    flex-grow: 1!important;
}
.ezysplits-pay-later-column-separator, .ezysplits-pay-later-column-title {
    font-family: var(--font-bold);
    font-size: 16px!important;
    color: #6d6e71!important;
    padding-bottom: 7px!important;
    font-weight: bold;
}
.ezysplits-pay-later-column-separator {
    z-index: 10!important;
    background: #fff!important;
    position: absolute;
    left: 50%;
    top: 9px;
    transform: translate(-50%);
}
.ezysplits-pay-later-column-list {
    display: flex!important;
}
.ezysplits-pay-later-column.four-instalments {
    justify-content: space-between!important;
}
.ezysplits-pay-later-column {
    padding: 10px 20px!important;
    width: 50%!important;
    display: flex;
    flex-direction: column;
}
.ezysplits-pay-later-column.four-instalments .ezysplits-pay-later-item {
    flex-grow: 1!important;
    padding-bottom: 0!important;
    min-height: 69px!important;
}
.ezysplits-pay-later-item {
    display: flex!important;
    padding-bottom: 20px!important;
    position: relative!important;
}
.ezysplits-pay-later-item:last-child {
    padding-bottom: 0!important;
}
.ezysplits-pay-later-notice {
    position: relative!important;
    background-color: #949799!important;
    color: #fff!important;
    text-align: center!important;
    padding: 7px 0!important;
    z-index: 10!important;
    font-family: var(--font-bold);
    font-size: 1em!important;
}
.ezysplits-pay-later-item-content {
    display: flex!important;
    align-items: flex-start!important;
}
.ezysplits-pay-later-item-image-wrapper {
    display: flex!important;
    align-items: center!important;
    position: relative!important;
}
.ezysplits-pay-later-item-image {
    position: relative!important;
    width: 36px!important;
    height: 36px!important;
    max-width: 36px!important;
    max-height: 36px!important;
    min-width: 36px!important;
    min-height: 36px!important;
    margin: 0 15px 0 0!important;
    z-index: 10!important;
    float: none!important;
    background: #fff!important;
    padding: 0!important;
}
.ezysplits-pay-later-item-description {
    font-family: var(--font-light);
    font-size: 14px!important;
    color: #727376!important;
}
.ezysplits-product-price-wrapper {
    display: inline-flex!important;
    direction: ltr!important;
}
.ezysplits-pay-later-item-currency {
    text-transform: uppercase!important;
}
.ezysplits-product-price {
    font-family: var(--font-medium)!important;
}